@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(/img/background.png);
    background-color: #666666;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 15px;
    color: #808080;
    text-align: left;
    text-align: justify;
}

a {
	color: #8a8a8a;
}

#logo {
	margin-left: 75px;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 500px;
	float: left;
}

nav {
	margin: 75px;
	padding: 0;
	float: right;
}

li.nav {
	display: inline-block;
	font-size: 14px;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 1px dashed gray;
}

li:first-child {
  border: none;
}

ul.nav {
	margin: 0px;
}

li.nav a {
	display: inline-block;
	min-width: 60px;
	text-decoration: none;
	text-align: center;
	background-image: url(/img/menu_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 60px;
}

li.nav a:hover {
	background-image: url(/img/menu_icon_shadow.png);
	text-shadow: 1px 1px rgba(138,138,138,0.5);		
}

#slider 
{
	clear: both;
	height: 250px;
	background-image: url(/img/slider_background.png);
	font-size: 12px;
}

h1.slider {
	padding-top: 40px;
}

p.slider {
	margin-right: 75px;
}

img.slider {
	float: left;
	height: 250px;
	border:10px solid #ffffff;
	margin-top: -10px;
	margin-left: 75px;
	margin-right: 75px;
	box-shadow: 0 0 20px black;
}

#columns {
	padding: 0;
	padding-left: 75px;
	padding-right: 75px;
}

div.column {
	background-color: rgba(0,0,0,0.1);
	margin-left: 2%;
	margin-right: 2%;
	width: 17%;
	float: left;
	padding: 2%;
	padding-top: 10px;
	color: #808080;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0 0 20px black;
}

h2.column {
	color: #434343;
	text-align: center;
}

#one {
	clear: both;
}

article {
	clear: both;
	background-color: rgba(0,0,0,0.1);
	margin: 50px;
	height: 250px;
	text-align: center;
}

article img {
	float: left;
	border: 10px solid #ffffff;
	margin-top: -10px;
	margin-left: 25px;
	height: 250px;
	margin-right: 50px;
	box-shadow: 0 0 20px black;
}

article h2 {
	padding-top: 50px;
	color: #434343;
}

article p {
	margin-top: 25px;
	margin-bottom: 50px;
}

article a{
	text-decoration: none;
}

#button {
	background-image: linear-gradient(top, #ef920e, #af7b31);
	background-image: -moz-linear-gradient(top, #ef920e, #af7b31);
	background-image: -webkit-linear-gradient(top, #ef920e, #af7b31);
	background-image: -ms-linear-gradient(top, #ef920e, #af7b31);
	background-image: -o-linear-gradient(top, #ef920e, #af7b31);
	padding: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	font-size: 20px;
	border-radius:10px;
	border: 1px solid #9c7640;
}

footer {
	clear: both;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background-image: url(/img/footer_background.png);
	color: #949494;
}

#copy {
	display: inline-block;
	transform: rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
}
